<!DOCTYPE html>
<html>

<head>
    <title>Book Reviews</title>
</head>

<body>
    <h1>Book Reviews</h1>
    <a href="{{ url_for('add_book') }}">Add New Book</a>
    <ul>
        {% for book in books %}
        <li>
            <strong>{{ book.title }}</strong> by {{ book.author }}<br>
            Review: {{ book.review }}<br>
            <em>Posted on {{ book.date }}</em>
        </li>
        {% else %}
        <p>No books yet. Be the first to add one!</p>
        {% endfor %}
    </ul>
</body>

</html>